@use '../base/variables' as *;

.celebrant {
  border: 1px solid $btn-hover-color;
  border-radius: 8px;
  flex: 1;
 
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background: 
      radial-gradient(circle at top left, #f9f0e1, #f3e0c9 40%, #eacdaa 70%, #e3b98d), /* Основной тёплый градиент */
      radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 60%), /* Световой блик */
      linear-gradient(135deg, rgba(112, 176, 177, 0.6), rgba(255, 255, 255, 0) 60%), /* Бирюзовый слой */
      conic-gradient(from 45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25% 50%, rgba(255, 255, 255, 0.15) 50% 75%, rgba(0, 0, 0, 0) 75%); /* Текстура */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0 0;
  }

  &__name {
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
    color: #4a8081;
    font-weight: 800;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  }

  &__avatar {
    width: 25vh;
    border-radius: 50%;
    object-fit: cover;
  }

  &__age {
    font-size: 18px;
    font-weight: 600;
    color: $title-color;
  }
}