@use '../base/variables' as *;

.header {
  padding: $spacing-md $spacing-lg;
  width: 100%;
  border-bottom: 1px solid $btn-hover-color;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $desktop-width;
    margin: 0 auto;
  }

  &__logo {
    max-height: calc(45 / 16 * 1rem);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    @media (max-width: $tablet-width) {
      max-height: calc(38 / 16 * 1rem);
    }
  
    @media (max-width: $mobile-width) {
      max-height: calc(32 / 16 * 1rem);
    }
  
    @media (max-width: $xs-width) {
      max-height: calc(28 / 16 * 1rem);
    }
  }

  &__title {
    margin: 0;
    text-align: center;
    font-size: calc(30 / 16 * 1rem);
    letter-spacing: 1px;
    color: $title-color;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

    @media (max-width: $tablet-width) {
      font-size: calc(24 / 16 * 1rem);
    }
  
    @media (max-width: $mobile-width) {
      font-size: calc(20 / 16 * 1rem);
    }
  
    @media (max-width: $xs-width) {
      font-size: calc(18 / 16 * 1rem);
    }
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(10 / 16 * 1rem);
  }
}